// file added by Jeff-Russ

@media screen and (min-width: 44.375em) {
	.site {
		margin-right: 5% !important;
		margin-left: 5% !important;
	}
	.entry-content blockquote:not(.alignleft):not(.alignright), .entry-summary blockquote, .comment-content blockquote {
		margin-left: 0.5em !important;
	}
	.entry-content ul, .entry-summary ul, .comment-content ul, .entry-content ol, .entry-summary ol, .comment-content ol {
		margin-left: 1.25em !important;
	}
}
@media screen and (min-width: 56.875em) {
	.main-navigation li:hover > a, .main-navigation li.focus > a {
		color: #4c85aa !important;
	}
	.main-navigation ul ul {
		border-bottom: 1px solid #4d5a68 !important;
	}
	.main-navigation ul ul li {
		background-color: #ddd3b6 !important;
		border: 1px solid #b6b3a3 !important;
	}
	.site-content {
		padding-right: 2% !important;
		padding-left: 2% !important;
	}
}